<p>
  <strong>Comments:</strong>
  <ul>
  <% commentable.comments.each do |comment| %>
  	<li><%= comment.content %> - <%= comment.user %></li>
  	<%= link_to 'X', [commentable, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  </ul>
</p>