<h1><%= @user.name %> Profile</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Cover photo:</strong>
  <!-- image_tag @user.cover_photo -->
</p>
<p>
  <strong>Avatar:</strong>
  <%= image_tag @user.avatar %>
</p>

<%= render partial: "whishlists/whishlist" %>