<ul>
<% unless user_signed_in? %>
	<li><%= link_to 'Ingresar', new_user_session_path %></li>
	<li><%= link_to 'Registrarse', new_user_registration_path %></li>
<% else %>
	<li><%= link_to 'Salir', destroy_user_session_path, method: :delete %></li>
<% end %>	
</ul>